@import "tailwindcss";

@theme {
  --font-sans:
    var(--font-space-grotesk), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    @apply cursor-pointer;
  }

  button:disabled,
  [role="button"]:disabled {
    @apply cursor-not-allowed;
  }

  input,
  textarea {
    @apply caret-blue-500;
  }

  /* Remove the up & down arrows in input type number */
  /* For WebKit browsers */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  /* For Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
  }

  /* Hide scrollbar but keep scroll functionality */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and old Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, new Edge */
  }
}
